.article {
    margin: 1rem;
    padding: 1rem;
    background-color: #6f66f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: rgb(228, 228, 228);
    
    
  }
 
  .article h2 {
    font-size: 2rem;
    color: #f7e702;
  }
  .naviator {
    margin: 5rem auto;
    width: 60%;
    
    text-align: center;
   }
  .naviator button {
    margin: 1rem;
    padding: 0.5em;
    background-color: #f7e702;
    width: 30%;
  }
  .article h3 {
    color: #eccf77;
    margin: 0;
    font-size: 1rem;
  }
  