.header {
 
  position: fixed!important;
  width: 100%;
  background-color: #8082dd;
  top:0px
  }
  
  .header a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
  }
  
  
  
  .inner-btn {
    position: absolute;
    width: 10px;
    font-weight: 550;
    border: none;
    background-color: transparent;
    line-height: 35px;
    left: calc(100% - 30px);
    z-index: 99999;
  }
  
  .inner-btn:hover {
    color: blue;
  }
 
 
  